node_modules/
dist/
.DS_Store
*.log
.env.local
.env.*.local
npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*
dist/electron/
server/dist/
electron/node_modules/
dist/
automation/output/
automation/test/output/
llm_fastAPI/__pycache__/
